<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather App</title>
</head>
<body>
    <form method="post">
         {% csrf_token %}
        <input type="text" name="city1" placeholder="city1">
        <input type="text" name="city2" placeholder="city2">
        <button type="submit">compare weather</button>
    </form>
    
    <div class="comparison-containet">
        {% if weather_data1 %}
        <div class="city-container">
           {% include 'weather_app/city_weather.html' with weather_data=weather_data1 daily_forecasts= daily_forecasts1 %}
        </div>
        {% endif %}
        {% if weather_data2 %}
        <div class="city-container">
            {% include 'weather_app/city_weather.html' with weather_data=weather_data2 daily_forecasts= daily_forecasts2 %}
            
        </div>
        {% endif %}
    
    </div>
</body>
</html>